doctype html
html
  head
    title Welcome!
    style.
      nav {
        text-align: center;
      }
      nav a {
        background-color: #288a41;
        color: white;
        display: inline-block;
        line-height: 64px;
        margin-right: 16px;
        text-align: center;
        font-size: 28px;
        text-decoration: none;
        border: 2px solid #707070;
        width: 324px;
      }
  body
    nav
      a(href="/index.html") Cooking
      a(href="/contact.html") Contact
      a(href="/about.html") About
